
<!DOCTYPE html>
<html>
<head>
    <title>ثبت نام</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{{> nav}}
<div id="input" style="margin-top: 70px;margin-bottom: 20px">
    <h1>ثبت نام</h1>
    <form action="register" method="POST" onsubmit="return checkConfirmPassword()">
        
        <div class="container">

            <input id="name" type="text" class="form-control" name="firstName" value="" placeholder="نام  را وارد کنید" required autofocus>

            {{!-- @if ($errors->has('name'))
                <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('name') }}</strong>
                                    </span>
            @endif --}}

            <input id="last_name" type="text" class="form-control" name="lastName" value="" placeholder="نام خانوادگی  را وارد کنید" required >

            {{!-- @if ($errors->has('last_name'))
                <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('last_name') }}</strong>
                                    </span>
            @endif --}}


            <input id="national_code" type="number" class="form-control" name="nationalCode" value="" placeholder="کد ملی را وارد کنید"  >

            {{!-- @if ($errors->has('national_code'))
                <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('national_code') }}</strong>
                                    </span>
            @endif --}}

            <input id="father_name" type="text" class="form-control" name="fatherName" value="" placeholder="نام پدر را وارد کنید"  >

            <input id="birth_date" type="text" class="form-control" name="birthdate" value="" placeholder="تاریخ تولد خود را وارد کنید"  >

            {{!-- @if ($errors->has('father_name'))
                <span class="invalid-feedback" role="alert">
                                        <strong></strong>
                                    </span>
            @endif --}}


            <select id="grade" class="box " name="gradeId" value="" >
                <option value="1">اول </option>
                <option value="2">دوم </option>
                <option value="3">سوم </option>
                <option value="4">چهارم </option>
            </select><br>




            <input id="email" type="email" class="" name="email" value="" required autofocus placeholder="ایمیل را وارد کنید">
            {{!-- @if ($errors->has('email'))
                <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('email') }}</strong>
                                    </span>
            @endif --}}


            <input id="password" type="password" class="" name="password" required placeholder="رمز را وارد کنید">
            {{!-- @if ($errors->has('password'))
                <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('password') }}</strong>
                                    </span>
            @endif --}}
            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required placeholder="رمز را دوباره وارد کنید">

            <button type="submit">ثبت نام</button>

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <a href="site-home"> <button type="button" class="cancelbtn1" >بازگشت</button></a>
            <a href="login"> <button type="button" class="cancelbtn1" >ورود</button></a>

        </div>

        {{!-- @csrf --}}
    </form>

</div>
{{> footer}}
</body>
<script src="js/jquery.js"></script>
<script>

    function checkConfirmPassword(){
        if($('#password').val()!=$('#password-confirm').val()) {
            alert('رمزهای وارد شده یکسان نمی باشد!');
            return false;
        }else{
            return true;
        }
    }
</script>
</html>

